{{app-navbar session=session}}

<main class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</main>

{{app-footer}}

{{log session.currentUser}}
