<div class="col-md-8 col-md-offset-2">
  <h1 id="title" class="text-center">Flint Bookstore</h1>

  <!-- <img class="home-img center-block img-responsive" src="http://i.imgur.com/GY3l85J.jpg" width="620" height="380"> -->
</div>
